* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: url('../img/bg.jpg');
    repeat: no-repeat;
    background-attachment: fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.aword-box {
    width: 100%;
    /* max-width: 1500px; */
    margin: auto;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

.aword-box-pos {
    width: 70%;
    height: auto;
    float: left;
    margin-left: 200px;
}

.prideitemwrapper {
    float: left;
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 70px;
}

.prideitemwrapper .pridebtn {
    width: 300px;
    margin-bottom: 50px;
    background: #ffd064;
}

.prideitemwrapper .pridebtn-has {
    width: 300px;
    margin-bottom: 50px;
    background: #a9b5ba;
    cursor: not-allowed;
}

.pride-img-wrapper img {
    margin-right: 12px;
    width: 98%;
    display: none;
}

.awordaction {
    float: left;
    width: 40%;
    height: auto;
    margin: auto;
    /* padding-left: 100px; */
}

.awordaction p {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.awordaction span {
    display: block;
    width: 420px;
    height: 80px;
    line-height: 80px;
    margin: 20px 0;
    text-align: left;
    font-size: 60px;
    background: #ffffff;
}

.aword-btn {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 64px;
    border-radius: 10px;
    margin: auto;
    color: #ffffff;
    cursor: pointer;
    /* margin-right: 10px; */
}

.actionwrapper {
    height: 80px;
    padding-right: 10px;
    /* display: none; */
}

.pnumwrapper,
.pnum {
    width: 400px;
    line-height: 80px;
    text-align: center;
    font-size: 64px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    display: none;
}

.messagewrapper {
    text-align: center;
    font-size: 30px;
    display: none;
}

.confirmnum {
    color: red;
}

.remainnum {
    color: green;
}

.pnum {
    height: 80px;
    width: 390px;
}

.reset {
    background: #499940;
    float: right;
}

.confirm {
    width: 400px;
    background: #24ADD7;
}

.start {
    background: #24ADD7;
    float: left;
}

.stop {
    background: #FC6666;
    float: left;
}

/* 中奖清单样式 */

.awordlist {
    float: left;
    width: 30%;
    height: 500px;
    background: #666;
    margin-top: 30px;
    background: #ffffff;
    overflow: hidden;
}

.awordlist .p1 {
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    padding: 0;
}

.awordlist p {
    line-height: 30px;
    text-align: left;
    text-align: justify;
    padding-left: 30px;
    font-size: 30px;
}

table.list {
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

table.list th {
    vertical-align: baseline;
    padding: 5px 15px 5px 6px;
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    text-align: left;
    color: #fff;
}

table.list td {
    vertical-align: text-top;
    padding: 6px 15px 6px 6px;
    border: 1px solid #aaa;
}

table.list tr:nth-child(odd) {
    background-color: #F5F5F5;
}

table.list tr:nth-child(even) {
    background-color: #fff;
}

.hot {
    display: inline-block;
    padding: 1px 0;
    color: #fff;
    width: 14px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
}

.hot1 {
    background: #f54545;
}

.hot2 {
    background: #ff8547;
}

.hot3 {
    background: #ffac38;
}